<b ng-bind="title"></b><br/>

Your name: <input type="text" ng-model="yourname" placeholder="World">
<hr/>
Hello {{yourname || 'World'}}!
<button ng-click="testClick()">click</button>
<div style="margin-top:10px;">
    <uib-accordion close-others="oneAtATime">
        <uib-accordion-group heading="Dynamic Body Content">
            <p>The body of the uib-accordion group grows to fit the contents</p>
        </uib-accordion-group>
        <uib-accordion-group heading="Custom template">
            Hello
        </uib-accordion-group>
        <uib-accordion-group heading="Delete account" panel-class="panel-danger">
            <p>Please, to delete your account, click the button below</p>
            <button class="btn btn-danger">Delete</button>
        </uib-accordion-group>
    </uib-accordion>
</div>